@viewport {
    width: device-width;
    zoom: 1.0;
}

body {
    margin: 0;
    font-family: Georgia, serif;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-container {
    background-color: rgb(5, 35, 102);
    height: 75px;
}

.menu {
    padding-left: 15px;
    padding-top: 30px;
}

.menu span {
    padding: 0 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#home {
   height: 400px;
   background-color: rgb(3, 42, 124);
   padding: 23% 0 11% 0;

}

#home #app {
    color: white;
    text-align: center;
    font-size: 36px;
    padding: 0 25%;
    height: 100px;

}

button:focus {
    outline:0;
}

.start-button {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0 auto;
    background-color: rgb(3, 42, 124);
    border: none;
}

#home #circle {
    background-color: #DA70D6;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    margin: auto;  
}

#home #circle:hover {
    background-color: #CF9FFF;
}

#home .text-and-arrow {
    padding-top: 50px;
}

#circle span {
    color: white;
    padding-top: 200px;
    margin-top: 200px;
    text-align: center;
    font-size: 30px;
    font-family: Georgia, serif;
}

#circle .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid white;
    margin: 0 auto;
    margin-top: 10px;
  }

  .button-click {
      text-decoration: none;
  }


  .hidden {
      opacity: 0;
  }

  #about {
    height: 750px;
    background-color: #953553;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}

#about h2 {
    font-size: 36px;
    text-align: center;
}

.content-container {
    display: block;
    margin: 0 auto;
    height: 92%;
    width: 1200px;
    background-color: #A95C68;
    display: flex;
    padding: 0 60px 0 60px;
}

.personal-image {
    height: 600px;
    width: 450px;
    background-color: rgb(3, 220, 248);
    margin: 40px 0 auto 0;
}

.p-img {
    height: 600px;
    width: 450px;
    object-fit: cover;
}

.about-text-boxes {
    padding: 30px 0;
}

.bio {
    height: 300px;
    width: 700px;
    margin-left: 50px;
    margin-bottom: 30px;
    background-color: rgb(3, 220, 248);
    overflow: hidden;
}

.bio h3 {
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
}

.bio p {
    margin: -20px 25px 10px 25px;
    line-height: 25px;
    /*font-size: 18px;*/
    font-size: 22px;
}

.skills {
    height: 275px;
    width: 700px;
    margin-left: 50px;
    background-color: rgb(3, 220, 248);
    padding-top: 20px;
    overflow: hidden;
}

.skills h3 {
    text-align: center;
    font-size: 24px;
    margin-top: 5px;
    text-decoration-line: underline;
}

.row {
    display: flex;
    padding: 0 10px;
    margin-top: -15px;
    justify-content: center;
}

.row p {
    font-size: 18px;
    line-height: 10px;
    padding: 0 7px;
}

#portfolio {
    height: 850px;
    background-color: rgb(0, 119, 255);
    padding-top: 100px;
    padding-bottom: 20px;
}

#portfolio h2 {
    font-size: 36px;
    text-align: center;  
}

/*.projects-container {
    display: block;
    margin: 0 auto;
    height: 80%;
    width: 1310px;
    background-color: rgb(1, 93, 197);
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}*/

.projects-container {
    display: block;
    margin: 0 auto;
    height: 60%;
    width: 1310px;
    background-color: rgb(1, 93, 197);
    padding-top: 175px;
    padding-left: 15px;
    padding-right: 15px;
}

.project-row-1, .project-row-2 {
    display: flex;
    padding: 0 auto;
    margin: 20px 40px;
    
}

.project-row-1 {
    margin-bottom: 50px;
}

.grouping-1, .grouping-2, .grouping-3, .grouping-4, .grouping-5, .grouping-6 {
    position: relative;
}

.block {
    background-color: rgb(0, 255, 234);
    height: 275px;
    width: 21.875em;
    margin: 0 30px;
}

.portfolio-image {
    height: 275px;
    width: 21.875em;
    object-fit: cover;
}

.hover {
    background-color: rgba(15, 15, 15, 0.692);
    height: 250px;
    width: 21.875em;
    margin: 0 30px; 
    position: absolute; 
    top: 0;
    visibility: hidden;
    padding-top: 25px;
    overflow: hidden;
}

.hov-h3 {
    text-align: center;
    color: white;
}

.hov-p {
    text-align: center;
    color: white;
}

.hover-circ {
    background-color: rgb(2, 21, 102);
    border-radius: 50%;
    width: 175px;
    height: 125px;
    margin: auto; 
}

.hover-circ:hover {
    background-color: rgb(72, 5, 255);
}

.hover-circ span {
    color: white;
    text-align: center;
    font-size: 30px;
    text-decoration: none;

}

.button-hov-box {
    padding-left: 30%;
}

.button-hov-box {
    padding-top: 25%;
}

.hov-view-button {
    text-decoration: none;
}

.grouping-1:hover .hover, .grouping-2:hover .hover, .grouping-3:hover .hover, 
.grouping-4:hover .hover, .grouping-5:hover .hover, .grouping-6:hover .hover {
    visibility: visible;
}

#contact {
    height: 670px;
    background-color: #953553;
    padding-top: 100px;
}

#contact h2 {
    font-size: 36px;
    text-align: center;  
}

#contact-form {
    height: 535px;
    width: 80%;
    background-color: #A95C68;
    bottom: 0;
    margin: 0 auto;
    padding: 35px 0 0;
}

#contact-form input {
    display: block;
    height: 30px;
}
#contact-form textarea {
    display: block;
    margin: auto;
    height: 200px;
    width: 400px;
}

#contact-form .text-area {
    width: 400px;
    margin: auto;
    margin-bottom: 15px;
}

input[type=submit] {
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0 auto;
    color: white;
    background: url(./images/rec-2.jpg) ;
    padding: 15px 15px 45px 15px;
    font-size: 24px;
    width: 125px;
    margin-top: 30px;
    outline: none;
    border: none;
    border-radius: 0px;
}

input[type=submit]:hover {
    background: url(./images/rec-1.jpg) ;
}

#bottom-button {
    background-color: #DA70D6;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    left: 50%;
    margin-left: -87.5px;
    position: absolute;
    margin-top: -29px;
    border: none;
}

.second-button {
    text-decoration: none;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid white;
    margin: 0 auto;
    margin-bottom: 10px;
}

#bottom-button span {
    color: white;
    padding-top: 200px;
    margin-top: 200px;
    text-align: center;
    font-size: 30px;
    font-family: Georgia, serif;
    margin-top: 10px;
}

#bottom-button:hover {
    background-color: #CF9FFF;
}

.second-button {
    margin: 0;
}

footer {
    height: 200px;
    background-color: rgb(3, 42, 124);
}

textarea {
    resize: none;
}

@media only screen and (max-width: 1700px) {
    #about {
        height: 750px;
    }
    
    .contact-container a {
        margin: 20px 42% 0 42%;
    }
}

@media only screen and (max-width: 1600px) {

    .content-container {
        display: block;
        width: 700px;
        padding-top: 50px;
        padding: 50px 200px 0 200px;
    }

    .personal-image {
        margin-top: 0;
    }

    #about {
        height: 1450px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .bio {
        height: 300px;
        margin-bottom: 30px;
        margin-left: 0;
    }

    .skills {
        height: 300px;
        width: 700px;
        margin-top: 30px;
        margin-left: 0;
    }
    .padding {
        padding-left: 125px;
    }

    .contact-container a {
        margin: 20px 41% 0 41%;
    }

}

@media only screen and (max-width: 1500px) {
    .content-container {
        width: 700px;
        padding: 50px 150px 0 150px;
    }

    .contact-container a {
        margin: 20px 40% 0 40%;
    }
}

@media only screen and (max-width: 1400px) {
    .content-container {
        width: 700px;
        padding: 50px 125px 0 125px;
    }

    .contact-container a {
        margin: 20px 39% 0 39%;
    }
}

@media only screen and (max-width: 1350px) {

    .projects-container {
        width: 1300px;
    }

    .contact-container a {
        margin: 20px 38.5% 0 38.5%;
    }
}

@media only screen and (max-width: 1325px) {
    .about-text-boxes {
        padding: 30px 0;
    }
    
    .content-container {
        width: 700px;
        padding: 50px 100px 0 100px;
    }

    /*P**************************Portfolio Section**********************************/
    .project-row-1, .project-row-2 {
        display: block;
    }  

    .grouping-1, .grouping-2, .grouping-3, .grouping-4, .grouping-5, .grouping-6 {
        margin-bottom: 30px;
    }

    .project-row-1 {
        margin-bottom: 0;
    }

    .block {
        background-color: rgb(0, 255, 234);
        height: 400px;
        width: 37.5em;
    }

    .portfolio-image {
        height: 400px;
        width: 37.5em;
    }

    .hover {
        height: 325px;
        width: 37.5em;
    }

    .projects-container {
        padding-left: 10%;
        padding-right: 10%;
        width: 750px;
    }

    /*#portfolio {
        height: 2850px;
    }*/

    #portfolio {
        height: 1500px;

    }

    /*.projects-container {
        height: 92%;
    }*/

    .projects-container {
        height: 1350px;
        padding-top: 30px;
    }

    .hover {
        padding-top: 75px;
    }

    .hov-h3 {
        font-size: 30px;
    }

    .hov-p {
        font-size: 24px;
    }
    /****************************************************************************/

    .contact-container a {
        margin: 20px 38% 0 38%;
    }

}

@media only screen and (max-width: 1200px) {

    .projects-container {
        padding-left: 8%;
        padding-right: 8%;
        width: 725px;
    }

    #about {
        height: 1450px;

    }

    .contact-container a {
        margin: 20px 37.5% 0 37.5%;
    }
}

@media only screen and (max-width: 1100px) {
    .projects-container {
        padding-left: 6%;
        padding-right: 6%;
    }

    .contact-container a {
        margin: 20px 36.5% 0 36.5%;
    }

}

@media only screen and (max-width: 1000px) {
    nav {
        text-align: center;
        padding-bottom: 20px;
    }

    .menu {
        padding-left: 0;
    }

    .menu a {
        font-size: 32px;
    }

    #home {
        height: 600px;
    }
    #home #app {
        padding-top: 75px;
    }

    .start-button {
        margin-top: 125px;
    }

    #about {
        height: 1550px;
    }

    #about h3 {
        font-size: 28px;
    }

    .content-container {
        width: 700px;
        padding: 50px 100px 0 30px;
    }

    .about-text-boxes {
        padding: 30px 0;
    }

    .bio {
        width: 775px;
        height: 350px;
    }

    .bio p {
        font-size: 24px;
    }

    .padding {
        padding-left: 155px;
    }

    .skills {
        width: 775px;
        height: 350px;
    }

    .skills p {
        font-size: 24px;
    }

    .projects-container {
        padding-left: 7%;
        padding-right: 7%;
        width: 750px;
    }

    .contact-container a {
        margin: 20px 35.5% 0 35.5%;
    }
    #contact {
        height: 700px;
    }

    #contact-form {
        height: 575px;
        width: 80%;
        background-color: rgb(0, 167, 144);
        bottom: 0;
        margin: 0 auto;
        padding: 25px 0 0;
    }
    #contact-form .text-area {
        width: 500px;
        font-size: 20px;
    }

    #contact-form textarea {
        height: 300px;
    }

}

@media only screen and (max-width: 900px) {
    #about {
        height: 1600px;
    }

    .content-container {
        width: 650px;
        height: 1450px;
        padding-left: 50px;
    }

    .bio {
        width: 700px;
        height: 350px;
    }

    .skills {
        width: 700px;
        height: 350px;
    }

    .skills p {
        font-size: 20px;
    }

    .padding {
        padding-left: 125px;
    }

    .projects-container {
        padding-left: 3%;
        padding-right: 3%;
        width: 740px;
    }

    .skills-list {
        padding: 0 75px;
    }

    .contact-container a {
        margin: 20px 34.5% 0 34.5%;
    }
}

@media only screen and (max-width: 850px) {
    .content-container {
        width: 600px;
    }

    .padding {
        padding-left: 100px;
    }

    .bio {
        width: 650px;
        height: 375px;
    }

    .skills {
        width: 650px;
    }

    .projects-container {
        padding-left: 3%;
        padding-right: 3%;
    }
 
    .contact-container a {
        margin: 20px 34% 0 34%;
    }
}

@media only screen and (max-width: 800px) {
    .content-container {
        width: 550px;
    }

    .projects-container {
        padding-left: 0;
        padding-right: 0;
        width: 735px;
    }

    .padding {
        padding-left: 75px;
    }

    .bio {
        width: 600px;
        height: 400px;
    }

    .skills {
        width: 600px;
    }

    .contact-container a {
        margin: 20px 33.5% 0 33.5%;
    }

}

@media only screen and (max-width: 768px) {
    #about {
        height: 1550px;
    }
    .content-container {
        width: 525px;
    }

    .padding {
        padding-left: 65px;
    }

    .projects-container {
        padding-left: 2%;
        padding-right: 2%;
        width: 660px;
    }

    .project-row-1, .project-row-2 {
        padding: 0;
        margin: 20px 0;
    }
    
    .bio {
        width: 575px;
        height: 400px;
    }

    .skills {
        width: 575px;
        height: 300px;
    }

    .skills p {
        font-size: 18px;
    }

    .contact-container a {
        margin: 20px 33% 0 33%;
    }
    
}

@media only screen and (max-width: 700px) {
    #home #app {
        font-size: 30px;
    }
    

    .projects-container {
        padding-left: 1%;
        padding-right: 1%;
        width: 520px;
    }

    .projects-container {
        height: 1200px;
    }

    .content-container {
        height: 1350px;
    }

    .project-row-1, .project-row-2 {
        padding: 0;
        margin: 20px 0;
    }

    .block {
        height: 350px;
        width: 28.875em;
    }

    .portfolio-image {
        height: 350px;
        width: 28.875em;
    }
    
    .hover {
        height: 275px;
        width: 28.875em;
    }

    .hov-h3 {
        font-size: 20px;
    }

    .hov-p {
        font-size: 16px;
    }

    /*#portfolio {
        height: 2550px;
    }*/

    #portfolio {
        height: 1400px;
    }

    #about {
        height: 1500px;
    }

    #about h3 {
        font-size: 20px;
    }

    .bio {
        width: 500px;
        height: 300px;
    }

    .bio p {
        font-size: 16px;
    }

    .padding {
        padding-left: 25px;
    }

    .skills {
        width: 500px;
        height: 275px;
    }

    .skills p {
        font-size: 15px;
    }

    .content-container {
        width: 450px;
    }

    .contact-container a {
        margin: 20px 32% 0 32%;
    }

    .contact-container {
        margin: 0; 
        width: 100%;   
    }

    #contact-form {
        width: 90%;
    }

}

@media only screen and (max-width: 650px) {
    #about {
        height: 1300px;
    }

    #about h3 {
        font-size: 20px;
    }

    .content-container {
        width: 400px;
        height: 1200px;
    }

    .personal-image {
        height: 500px;
        width: 375px;
    }

    .p-img {
        height: 500px;
        width: 375px;
    }

    .bio {
        width: 450px;
        height: 300px;
    }

    .bio p {
        font-size: 16px;
    }

    .padding {
        padding-left: 40px;
    }

    .skills {
        width: 450px;
        height: 225px;
    }

    .skills p {
        font-size: 13px;
    }

    .projects-container {
        padding-left: 6%;
        padding-right: 6%;
        width: 520px;
    }

    .contact-container a {
        margin: 20px 31.5% 0 31.5%;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        padding-bottom: 0;
    }

    .menu a {
        font-size: 20px;
    }

    #about {
        height: 1200px;
    }

    #about h3 {
        font-size: 16px;
    }

    .content-container {
        width: 350px;
        height: 1100px;
    }

    .personal-image {
        height: 400px;
        width: 300px;
    }

    .p-img {
        height: 400px;
        width: 300px;
    }

    .bio {
        width: 400px;
        height: 300px;
    }

    .bio p {
        font-size: 14px;
    }

    .padding {
        padding-left: 50px;
    }

    .skills {
        width: 400px;
        height: 225px;
    }

    .skills p {
        font-size: 12px;
    }

    /*P**************************Portfolio Section**********************************/

    .project-row-1, .project-row-2 {
        display: block;
    }  

    .grouping-1, .grouping-2, .grouping-3, .grouping-4, .grouping-5, .grouping-6 {
        margin-bottom: 30px;
    }

    /*#portfolio {
        height: 2050px;
    }*/

    #portfolio {
        height: 1150px;

    }

    .project-row-1 {
        margin-bottom: 0;
    }

    /*.projects-container {
        height: 92%;
        width: 410px;
        padding-left: 5%;
        padding-right: 5%;
    }*/

    .projects-container {
        height: 970px;
        width: 410px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .block {
        height: 275px;
        width: 21.875em;
    }
    
    .portfolio-image {
        height: 275px;
        width: 21.875em;
    }

    .hover {
        height: 250px;
        width: 21.875em;
    }

    .project-row-1, .project-row-2 {
        padding: 0 auto;
        margin: 20px 0;
        
    }

    .hover {
        padding-top: 25px;
    }

    /*P**************************Portfolio Section**********************************/

    .content-container {
        display: block;
    }

    #contact-form .text-area {
        width: 400px;
    }

    .contact-container a {
        margin: 20px 31% 0 31%;
    }

}

@media only screen and (max-width: 560px) { 
    #about {
        height: 1200px;
    }
    .content-container {
        padding-left: 25px;
    }

    .padding {
        padding-left: 65px;
    }

    .bio {
        width: 425px;
        height: 300px;
    }

    .skills {
        width: 425px;
        height: 225px;
    }

    .project-row-1, .project-row-2 {
        padding: 0 auto;
        margin: 20px 0;
        
    }

    .projects-container {
        padding-left: 3%;
        padding-right: 3%;
    }

    .contact-container a {
        margin: 20px 30.5% 0 30.5%;
    }
}

@media only screen and (max-width: 520px) {
    #home {
        height: 475px;
     }

    #about h3 {
        font-size: 16px;
    }

    .content-container {
        width: 325px;
    }

    .personal-image {
        height: 400px;
        width: 300px;
    }

    .bio {
        width: 400px;
        height: 300px;
    }

    .bio p {
        font-size: 14px;
    }

    .padding {
        padding-left: 50px;
    }

    .skills {
        width: 400px;
        height: 225px;
    }

    .skills p {
        font-size: 12px;
    }

    .project-row-1, .project-row-2 {
        padding: 0 auto;
        margin: 20px 0;
        
    }

    .contact-container a {
        margin: 20px 30% 0 30%;
    }
}

@media only screen and (max-width: 480px) {
    .menu a {
        font-size: 15px;
    }

    .menu span{
        padding: 0 12px;
    }

    #home #app {
        font-size: 26px;
        height: 100px;
        padding-top: 25px;
    
    }

    #about {
        height: 1250px;
    }

    .content-container {
        height: 1150px;
        margin-left: auto;
        margin-right: auto;
    }

    .padding {
        padding-left: 50px;
    }

    .bio {
        width: 400px;
        height: 300px;
    }
    
    .bio h3 {
        font-size: 20px;
    }
    
    .bio p {
        font-size: 16px;
    }
    
    .skills {
        width: 400px;
    }
    
    .skills h3 {
        font-size: 18px;
    }
    
    .row p {
        font-size: 12px;
    }

    .block {
        height: 241.3125;
        width: 19.1953125em;
    }

    .portfolio-image {
        height: 241.3125;
        width: 19.1953125em;
    }
    
    .hover {
        height: 241.3125;
        width: 19.1953125em;
    }

    .hov-h3 {
        font-size: 20px;
        margin-block-start: 0;
    }

    .hov-p {
        font-size: 18px;
    }

    .hover-circ {
        width: 131.25px;
        height: 93.75px;
    }
    
    .hover-circ span {
        font-size: 22px;
    
    }

    /*#portfolio {
        height: 2075px;
    }*/

    #portfolio {
        height: 1120px;
    }

    /*.projects-container {
        display: block;
        margin: 0 auto;
        width: 380px;
        height: 1875px;
    }*/

    .projects-container {
        display: block;
        margin: 0 auto;
        width: 380px;
        height: 950px;
    }

    .project-row-1, .project-row-2 {
        padding: 0 auto;
        margin: 20px 7.5px;
        
    }

    #contact-form {
        width: 95%;
        margin: 0 auto;
    }

    #contact-form textarea {
        width: 300px;
    }
    
    #contact-form .text-area {
        width: 300px;
    }
}

@media only screen and (max-width: 460px) {
    #about {
        height: 1280px;
    }

    .content-container {
        height: 1180px;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    .padding {
        padding: 30px;
    }

    .bio {
        width: 355px;
        height: 300px;
    }
    
    .bio h3 {
        font-size: 16px;
    }
    
    .bio p {
        font-size: 12px;
    }
    
    .skills {
        width: 355px;
        height: 200px;
    }
    
    .skills h3 {
        font-size: 12px;
    }

    .row p {
        font-size: 9px;
    }
}

@media only screen and (max-width: 400px) {
    .menu a {
        font-size: 15px;
    }

    .menu span{
        padding: 0 12px;
    }

    #home #app {
        font-size: 26px;
        height: 100px;
        padding-top: 25px;
    
    }

    #about {
        height: 1250px;
    }

    .content-container {
        height: 1150px;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .padding {
        padding: 12.5px;
    }

    .bio {
        width: 325px;
        height: 300px;
    }
    
    .bio h3 {
        font-size: 16px;
    }
    
    .bio p {
        font-size: 12px;
    }
    
    .skills {
        width: 325px;
        height: 200px;
    }
    
    .skills h3 {
        font-size: 12px;
    }
    
    .row p {
        font-size: 9px;
    }

    .block {
        height: 241.3125;
        width: 19.1953125em;
    }

    .portfolio-image {
        height: 241.3125;
        width: 19.1953125em;
    }
    
    .hover {
        height: 241.3125;
        width: 19.1953125em;
    }

    .hov-h3 {
        font-size: 20px;
        margin-block-start: 0;
    }

    .hov-p {
        font-size: 18px;
    }

    .hover-circ {
        width: 131.25px;
        height: 93.75px;
    }
    
    .hover-circ span {
        font-size: 22px;
    
    }

    /*#portfolio {
        height: 2075px;
    }*/

    #portfolio {
        height: 1120px;
    }

    /*.projects-container {
        display: block;
        margin: 0 auto;
        width: 347px;
        height: 1875px;
    }*/

    .projects-container {
        display: block;
        margin: 0 auto;
        width: 347px;
        height: 950px;
    }

    .project-row-1, .project-row-2 {
        padding: 0 auto;
        margin: 20px -12px;
        
    }

    #contact-form textarea {
        width: 300px;
    }
    
    #contact-form .text-area {
        width: 300px;
    }
}