body {
    margin: 0;
    font-family: Georgia, serif;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-container {
    background-color: rgb(5, 35, 102);
    height: 75px;
}

.menu-lg {
    padding-left: 15px;
    padding-top: 30px;
}

.menu-lg span {
    padding: 0 20px;
}

.menu-lg a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#home {
    height: 100%;
   background-color: rgb(3, 42, 124);
   padding: 23% 0 11% 0;

}

#home p {
    color: white;
    text-align: center;
    font-size: 36px;
    padding: 0 25%;

}

.start-button {
    margin-top: 50px;
}

#home #circle {
    background-color: rgb(4, 255, 79);
    border-radius: 50%;
    width: 175px;
    height: 175px;
    margin: auto;  
}

#home #circle:hover {
    background-color: darkgreen;
}

#home .text-and-arrow {
    padding-top: 50px;
}

#circle span {
    color: white;
    margin-left: 32%;
    padding-top: 200px;
    margin-top: 200px;
    text-align: center;
    font-size: 30px;
    font-family: Georgia, serif;
}

#circle .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid white;
    margin: 0 auto;
    margin-top: 10px;
  }

  .button-click {
      text-decoration: none;
  }

  .hidden {
      opacity: 0;
  }

  #about {
    height: 750px;
    background-color: rgb(0, 255, 179);
    padding-top: 100px;
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 100px;
}

#about h2 {
    font-size: 36px;
    text-align: center;
}

.content-container {
    height: 92%;
    width: 85%;
    background-color: rgb(0, 167, 144);
    display: flex;
    padding: 0 120px 0 60px;
}

.person-image {
    height: 500px;
    width: 60%;
    background-color: rgb(3, 220, 248);
    margin: auto 0 auto 0;
}

.about-text-boxes {
    padding: 60px 0;
    height: 100%;
    width: 100%;
}

.bio {
    height: 38%;
    width: 100%;
    margin-left: 50px;
    margin-bottom: 30px;
    background-color: rgb(3, 220, 248);
}

.bio h3 {
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
}

.bio p {
    margin: -20px 25px 10px 25px;
    line-height: 25px;
    font-size: 18px;
}

.skills {
    height: 34%;
    width: 100%;
    margin-left: 50px;
    margin-top: 30px;
    background-color: rgb(3, 220, 248);
}

.skills h3 {
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
}

.skills-list {
    display: flex;
    margin-top: -20px;
    justify-content: space-between;
    padding: 0 150px;
}

.skills-list p {
    font-size: 18px;
    line-height: 10px;
}

#portfolio {
    height: 850px;
    background-color: rgb(0, 119, 255);
    padding-top: 100px;
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 20px;
}

#portfolio h2 {
    font-size: 36px;
    text-align: center;  
}

.projects-container {
    height: 80%;
    /*width: 1310px;*/
    background-color: rgb(1, 93, 197);
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.project-row-1, .project-row-2 {
    display: flex;
    padding: 0 auto;
    margin: 20px 40px;
    
}

.project-row-1 {
    margin-bottom: 50px;
}

.grouping-1, .grouping-2, .grouping-3, .grouping-4, .grouping-5, .grouping-6 {
    position: relative;
}

.block-1, .block-2, .block-3, .block-4, .block-5, .block-6 {
    background-color: rgb(0, 255, 234);
    height: 275px;
    width: 21.875em;
    margin: 0 30px;
}

.hover-1, .hover-2, .hover-3, .hover-4, .hover-5, .hover-6 {
    background-color: rgba(15, 15, 15, 0.473);
    height: 250px;
    width: 21.875em;
    margin: 0 30px; 
    position: absolute; 
    top: 0;
    visibility: hidden;
    padding-top: 25px;
    overflow: hidden;
}

.hover-1, .hover-2, .hover-3, .hover-4, .hover-5, .hover-6 h3 {
    text-align: center;
    color: white;
}

.hover-1, .hover-2, .hover-3, .hover-4, .hover-5, .hover-6 p {
    text-align: center;
    color: white;
}

#hover-circ-hov-1, #hover-circ-hov-2, #hover-circ-hov-3, #hover-circ-hov-4, #hover-circ-hov-5, #hover-circ-hov-6 {
    background-color: rgb(2, 21, 102);
    border-radius: 50%;
    width: 175px;
    height: 125px;
    margin: auto; 
}

#hover-circ-hov-1, #hover-circ-hov-2, #hover-circ-hov-3, #hover-circ-hov-4, #hover-circ-hov-5, #hover-circ-hov-6 span {
    color: white;
    text-align: center;
    font-size: 30px;
    text-decoration: none;

}

.hover-6 .button-hov-box {
    padding-left: 30%;
}

.button-hov-box {
    padding-top: 25%;
}

.hov-view-button {
    text-decoration: none;
}

.grouping-1:hover .hover-1, .grouping-2:hover .hover-2, .grouping-3:hover .hover-3, 
.grouping-4:hover .hover-4, .grouping-5:hover .hover-5, .grouping-6:hover .hover-6 {
    visibility: visible;
}

#contact {
    height: 600px;
    background-color: rgb(0, 255, 179);
    padding-top: 100px;
}

#contact h2 {
    font-size: 36px;
    text-align: center;  
}

#contact-form {
    height: 450px;
    width: 80%;
    background-color: rgb(0, 167, 144);
    bottom: 0;
    margin: 0 auto;
    padding: 50px 0 0;
}

#contact-form input {
    display: block;
    margin: auto;
    width: 400px;
    height: 30px;
    margin-bottom: 15px;
}
#contact-form textarea {
    display: block;
    margin: auto;
    height: 200px;
    width: 400px;
}

input[type=submit] {
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 20px 44.5% 0 44.5%;
    color: white;
    background-color: rgb(0, 110, 255);
    padding: 15px 15px 45px 15px;
    font-size: 24px;
}

#bottom-button {
    background-color: rgb(4, 255, 79);
    border-radius: 50%;
    width: 175px;
    height: 175px;
    margin-left: 45%; 
    position: absolute;
    margin-top: -29px;
}

.second-button {
    text-decoration: none;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid white;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 10px;
}

#bottom-button span {
    color: white;
    margin-left: 34%;
    padding-top: 200px;
    margin-top: 200px;
    text-align: center;
    font-size: 30px;
    font-family: Georgia, serif;
    margin-top: 10px;
}

#bottom-button:hover {
    background-color: darkgreen;
}

footer {
    height: 250px;
    background-color: rgb(3, 42, 124);
}

@media only screen and (max-width: 1700px) {
    #portfolio {
        padding-left: 10%;
        padding-right: 10%;
    }

    #bottom-button {
        margin-left: 44.5%;
    }   
    
    .contact-container a {
        margin: 20px 42% 0 42%;
    }
}

@media only screen and (max-width: 1600px) {
    #portfolio {
        padding-left: 7%;
        padding-right: 7%;
    }

    .content-container {
        display: block;
        padding-top: 50px;
        padding: 50px 0 0 0;
        width: 100%;
    }

    #about {
        height: 1200px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .bio {
        height: 300px;
        width: 91%;
        margin-bottom: 30px;
    }

    .skills {
        height: 220px;
        width: 91%;
        margin-top: 30px;
    }

    .person-image {
        height: 500px;
        width: 425px;
        margin: 0 auto 0 auto;
    }

    .about-text-boxes {
        padding: 0;
        height: 100%;
        width: 100%;
    }

    #bottom-button {
        margin-left: 44%;
    }  

    .contact-container a {
        margin: 20px 41% 0 41%;
    }

}

@media only screen and (max-width: 1500px) {
    #portfolio {
        padding-left: 4%;
        padding-right: 4%;
    }

    .contact-container a {
        margin: 20px 40% 0 40%;
    }
}

@media only screen and (max-width: 1400px) {
    #portfolio {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    #bottom-button {
        margin-left: 43.5%;
    }  
    .contact-container a {
        margin: 20px 39% 0 39%;
    }
}

@media only screen and (max-width: 1350px) {
    #portfolio {
        padding-left: 0%;
        padding-right: 0%;
    }
    .contact-container a {
        margin: 20px 38.5% 0 38.5%;
    }
}

@media only screen and (max-width: 1325px) {

    /*P**************************Portfolio Section**********************************/
    .project-row-1, .project-row-2 {
        display: block;
    }  

    .grouping-1, .grouping-2, .grouping-3, .grouping-4, .grouping-5, .grouping-6 {
        margin-bottom: 30px;
    }

    #portfolio {
        height: 2050px;
    }

    .project-row-1 {
        margin-bottom: 0;
    }

    .block-1, .block-2, .block-3, .block-4, .block-5, .block-6 {
        background-color: rgb(0, 255, 234);
        height: 400px;
        width: 37.5em;
    }
    
    .hover-1, .hover-2, .hover-3, .hover-4, .hover-5, .hover-6 {
        height: 325px;
        width: 37.5em;
    }

    .projects-container {
        padding-left: 22%;
        padding-right: 22%;
    }

    #portfolio {
        height: 2850px;
        padding-left: 0;
        padding-right: 0;
    }

    .projects-container {
        height: 92%;
    }

    .hover-1, .hover-2, .hover-3, .hover-4, .hover-5, .hover-6 {
        padding-top: 75px;
    }
    /****************************************************************************/

    #bottom-button {
        margin-left: 43%;
    }  

    .contact-container a {
        margin: 20px 38% 0 38%;
    }

}

@media only screen and (max-width: 1200px) {
    .projects-container {
        padding-left: 17%;
        padding-right: 17%;
    }

    .content-container {
        display: block;
    }

    #about {
        height: 1200px;
        padding-top: 100px;
        padding-left: 13%;
        padding-right: 13%;
        padding-bottom: 100px;
    }

    .bio {
        width: 89%;
    }

    .skills {
        width: 89%;
    }

    #bottom-button {
        margin-left: 42.5%;
    }  
    .contact-container a {
        margin: 20px 37.5% 0 37.5%;
    }
}

@media only screen and (max-width: 1100px) {
    .projects-container {
        padding-left: 15%;
        padding-right: 15%;
    }

    .bio {
        width: 87%;
    }

    .skills {
        width: 87%;
    }

    #bottom-button {
        margin-left: 42%;
    }  
    .contact-container a {
        margin: 20px 36.5% 0 36.5%;
    }

}

@media only screen and (max-width: 1000px) {
    .projects-container {
        padding-left: 12%;
        padding-right: 12%;
    }

    #bottom-button {
        margin-left: 41.5%;
    }  
    .contact-container a {
        margin: 20px 35.5% 0 35.5%;
    }
}

@media only screen and (max-width: 900px) {
    .projects-container {
        padding-left: 9%;
        padding-right: 9%;
    }

    .bio {
        width: 85%;
        height: 350px;
    }

    .skills {
        width: 85%;
    }

    #about {
        height: 1250px;
    }

    .skills-list {
        padding: 0 75px;
    }

    #bottom-button {
        margin-left: 40%;
    }  

    .contact-container a {
        margin: 20px 34.5% 0 34.5%;
    }
}

@media only screen and (max-width: 850px) {
    .projects-container {
        padding-left: 7%;
        padding-right: 7%;
    }

    #bottom-button {
        margin-left: 38%;
    }  
    .contact-container a {
        margin: 20px 34% 0 34%;
    }
}

@media only screen and (max-width: 800px) {
    .projects-container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .bio {
        width: 83%;
    }

    .skills {
        width: 83%;
    }

    #about {
        height: 1300px;
    }

    #bottom-button {
        margin-left: 37.5%;
    }  

    .contact-container a {
        margin: 20px 33.5% 0 33.5%;
    }

}

@media only screen and (max-width: 768px) {
    .projects-container {
        padding-left: 6%;
        padding-right: 6%;
    }

    .project-row-1, .project-row-2 {
        padding: 0;
        margin: 20px 0;
    }

    .bio {
        height: 400px;
    }

    #bottom-button {
        margin-left: 37%;
    }  

    .contact-container a {
        margin: 20px 33% 0 33%;
    }
    
}

@media only screen and (max-width: 700px) {
    .projects-container {
        padding-left: 13%;
        padding-right: 13%;
    }

    .project-row-1, .project-row-2 {
        padding: 0;
        margin: 20px 0;
    }

    .block-1, .block-2, .block-3, .block-4, .block-5, .block-6 {
        height: 350px;
        width: 28.875em;
    }
    
    .hover-1, .hover-2, .hover-3, .hover-4, .hover-5, .hover-6 {
        height: 275px;
        width: 28.875em;
    }

    #portfolio {
        height: 2550px;
        padding-left: 0;
        padding-right: 0;
    }

    .bio {
        width: 100%;
        height: 400px;
        margin-left: 0;

    }

    .skills {
        width: 100%;
        margin-left: 0;
    }

    #about {
        height: 1350px;
        padding-left: 0;
        padding-right: 0;
    }

    #bottom-button {
        margin-left: 36.5%;
    }  
    .contact-container a {
        margin: 20px 32% 0 32%;
    }

    .contact-container {
        margin: 0; 
        width: 100%;   
    }

}

@media only screen and (max-width: 650px) {
    .projects-container {
        padding-left: 10%;
        padding-right: 10%;
    }

    #bottom-button {
        margin-left: 36%;
    }  

    .contact-container a {
        margin: 20px 31.5% 0 31.5%;
    }
}

@media only screen and (max-width: 600px) {

    /*P**************************Portfolio Section**********************************/

    .project-row-1, .project-row-2 {
        display: block;
    }  

    .grouping-1, .grouping-2, .grouping-3, .grouping-4, .grouping-5, .grouping-6 {
        margin-bottom: 30px;
    }

    #portfolio {
        height: 2050px;
        padding-left: 0;
        padding-right: 0;
    }

    .project-row-1 {
        margin-bottom: 0;
    }

    .projects-container {
        height: 92%;
        padding-left: 5px;
    }

    .block-1, .block-2, .block-3, .block-4, .block-5, .block-6 {
        height: 275px;
        width: 21.875em;
    }
    
    .hover-1, .hover-2, .hover-3, .hover-4, .hover-5, .hover-6 {
        height: 250px;
        width: 21.875em;
    }

    .project-row-1, .project-row-2 {
        padding: 0 auto;
        margin: 20px 90px;
        
    }

    .hover-1, .hover-2, .hover-3, .hover-4, .hover-5, .hover-6 {
        padding-top: 25px;
    }

    /*P**************************Portfolio Section**********************************/

    .content-container {
        display: block;
    }

    #bottom-button {
        margin-left: 35.5%;
    }  

    .contact-container a {
        margin: 20px 31% 0 31%;
    }

}

@media only screen and (max-width: 560px) {
    .project-row-1, .project-row-2 {
        padding: 0 auto;
        margin: 20px 60px;
        
    }

    #bottom-button {
        margin-left: 34%;
    }  

    .contact-container a {
        margin: 20px 30.5% 0 30.5%;
    }
}

@media only screen and (max-width: 520px) {
    .project-row-1, .project-row-2 {
        padding: 0 auto;
        margin: 20px 40px;
        
    }

    .bio {
        height: 450px;
    }

    .content-container {
        padding-bottom: 30px;
    }

    #bottom-button {
        margin-left: 32%;
    }  

    .contact-container a {
        margin: 20px 30% 0 30%;
    }
}

@media only screen and (max-width: 480px) {
    .project-row-1, .project-row-2 {
        padding: 0 auto;
        margin: 20px 40px;
        
    }

    #bottom-button {
        margin-left: 27%;
    }  

    .contact-container a {
        margin: 20px 29.5% 0 29.5%;
    }
}

