body {
    margin: 0;
    font-family: Georgia, serif;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-container {
    background-color: rgb(5, 35, 102);
    height: 75px;
}

.menu {
    padding-left: 15px;
    padding-top: 30px;
}

.menu span {
    padding: 0 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#home {
    height: 400px;
   background-color: rgb(3, 42, 124);
   padding: 23% 0 11% 0;

}

#home #app {
    color: white;
    text-align: center;
    font-size: 36px;
    padding: 0 25%;
    height: 100px;

}

.start-button {
    margin-top: 50px;
}

#home #circle {
    background-color: rgb(4, 255, 79);
    border-radius: 50%;
    width: 175px;
    height: 175px;
    margin: auto;  
}

#home #circle:hover {
    background-color: darkgreen;
}

#home .text-and-arrow {
    padding-top: 50px;
}

#circle span {
    color: white;
    margin-left: 32%;
    padding-top: 200px;
    margin-top: 200px;
    text-align: center;
    font-size: 30px;
    font-family: Georgia, serif;
}

#circle .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid white;
    margin: 0 auto;
    margin-top: 10px;
  }

  .button-click {
      text-decoration: none;
  }

  .hidden {
      opacity: 0;
  }

  #about {
    height: 750px;
    background-color: rgb(0, 255, 179);
    padding-top: 100px;
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 100px;
    overflow: hidden;
}

#about h2 {
    font-size: 36px;
    text-align: center;
}

.content-container {
    height: 92%;
    width: 1200px;
    background-color: rgb(0, 167, 144);
    display: flex;
    padding: 0 60px 0 60px;
}

.personal-image {
    height: 600px;
    width: 450px;
    background-color: rgb(3, 220, 248);
    margin: 40px 0 auto 0;
}

.about-text-boxes {
    padding: 30px 0;
}

.bio {
    height: 300px;
    width: 700px;
    margin-left: 50px;
    margin-bottom: 30px;
    background-color: rgb(3, 220, 248);
    overflow: hidden;
}

.bio h3 {
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
}

.bio p {
    margin: -20px 25px 10px 25px;
    line-height: 25px;
    font-size: 18px;
}

.skills {
    height: 275px;
    width: 700px;
    margin-left: 50px;
    background-color: rgb(3, 220, 248);
    padding-top: 20px;
    overflow: hidden;
}

.skills h3 {
    text-align: center;
    font-size: 24px;
    margin-top: 5px;
    text-decoration-line: underline;
}

.row {
    display: flex;
    padding: 0 10px;
    margin-top: -15px;
    justify-content: center;
}

.row p {
    font-size: 18px;
    line-height: 10px;
    padding: 0 7px;
}

#portfolio {
    height: 850px;
    background-color: rgb(0, 119, 255);
    padding-top: 100px;
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 20px;
}

#portfolio h2 {
    font-size: 36px;
    text-align: center;  
}

.projects-container {
    height: 80%;
    width: 1310px;
    background-color: rgb(1, 93, 197);
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.project-row-1, .project-row-2 {
    display: flex;
    padding: 0 auto;
    margin: 20px 40px;
    
}

.project-row-1 {
    margin-bottom: 50px;
}

.grouping-1, .grouping-2, .grouping-3, .grouping-4, .grouping-5, .grouping-6 {
    position: relative;
}

.block {
    background-color: rgb(0, 255, 234);
    height: 275px;
    width: 21.875em;
    margin: 0 30px;
}

.hover {
    background-color: rgba(15, 15, 15, 0.473);
    height: 250px;
    width: 21.875em;
    margin: 0 30px; 
    position: absolute; 
    top: 0;
    visibility: hidden;
    padding-top: 25px;
    overflow: hidden;
}

.hov-h3 {
    text-align: center;
    color: white;
}

.hov-p {
    text-align: center;
    color: white;
}

.hover-circ {
    background-color: rgb(2, 21, 102);
    border-radius: 50%;
    width: 175px;
    height: 125px;
    margin: auto; 
}

.hover-circ:hover {
    background-color: rgb(72, 5, 255);
}

.hover-circ span {
    color: white;
    text-align: center;
    font-size: 30px;
    text-decoration: none;

}

.button-hov-box {
    padding-left: 30%;
}

.button-hov-box {
    padding-top: 25%;
}

.hov-view-button {
    text-decoration: none;
}

.grouping-1:hover .hover, .grouping-2:hover .hover, .grouping-3:hover .hover, 
.grouping-4:hover .hover, .grouping-5:hover .hover, .grouping-6:hover .hover {
    visibility: visible;
}

#contact {
    height: 590px;
    background-color: rgb(0, 255, 179);
    padding-top: 100px;
}

#contact h2 {
    font-size: 36px;
    text-align: center;  
}

#contact-form {
    height: 465px;
    width: 80%;
    background-color: rgb(0, 167, 144);
    bottom: 0;
    margin: 0 auto;
    padding: 25px 0 0;
}

#contact-form input {
    display: block;
    /*width: 400px;*/
    height: 30px;
}
#contact-form textarea {
    display: block;
    margin: auto;
    height: 200px;
    width: 400px;
}

#contact-form .text-area {
    width: 400px;
    margin: auto;
    margin-bottom: 15px;
}

input[type=submit] {
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0 auto;
    color: white;
    background-color: rgb(0, 110, 255);
    padding: 15px 15px 45px 15px;
    font-size: 24px;
    width: 125px;
    margin-top: 20px;
    outline: none;
    border: none;
}

input[type=submit]:hover {
    background-color: darkblue;
}

#bottom-button {
    background-color: rgb(4, 255, 79);
    border-radius: 50%;
    width: 175px;
    height: 175px;
    margin-left: 45%; 
    position: absolute;
    margin-top: -29px;
    border: none;
}

.second-button {
    text-decoration: none;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid white;
    margin: 0 auto;
    margin-bottom: 10px;
}

#bottom-button span {
    color: white;
    padding-top: 200px;
    margin-top: 200px;
    text-align: center;
    font-size: 30px;
    font-family: Georgia, serif;
    margin-top: 10px;
}

#bottom-button:hover {
    background-color: darkgreen;
}

.second-button {
    margin: 0;
}

footer {
    height: 275px;
    background-color: rgb(3, 42, 124);
}

@media only screen and (max-width: 1700px) {
    #about {
        height: 750px;
        padding-left: 11%;
        padding-right: 11%;
    }

    #portfolio {
        padding-left: 10%;
        padding-right: 10%;
    }

    #bottom-button {
        margin-left: 44.5%;
    }   
    
    .contact-container a {
        margin: 20px 42% 0 42%;
    }
}

@media only screen and (max-width: 1620px) {
    #about {
        padding-left: 9%;
        padding-right: 9%;
    }
}

@media only screen and (max-width: 1600px) {
    #portfolio {
        padding-left: 7%;
        padding-right: 7%;
    }

    .content-container {
        display: block;
        width: 700px;
        padding-top: 50px;
        padding: 50px 200px 0 200px;
        margin-left: 75px;
    }

    .personal-image {
        margin-top: 0;
    }

    #about {
        height: 1450px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .bio {
        height: 300px;
        margin-bottom: 30px;
        margin-left: 0;
    }

    .skills {
        height: 300px;
        width: 700px;
        margin-top: 30px;
        margin-left: 0;
    }
    .padding {
        padding-left: 125px;
    }
    #portfolio {
        padding-left: 7%;
        padding-right: 7%;
    }

    #bottom-button {
        margin-left: 44%;
    }  

    .contact-container a {
        margin: 20px 41% 0 41%;
    }

}

@media only screen and (max-width: 1500px) {
    .content-container {
        width: 700px;
        padding: 50px 150px 0 150px;
    }

    #portfolio {
        padding-left: 4%;
        padding-right: 4%;
    }

    .contact-container a {
        margin: 20px 40% 0 40%;
    }
}

@media only screen and (max-width: 1400px) {
    .content-container {
        width: 700px;
        padding: 50px 125px 0 125px;
    }

    #portfolio {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    #bottom-button {
        margin-left: 43.5%;
    }  
    .contact-container a {
        margin: 20px 39% 0 39%;
    }
}

@media only screen and (max-width: 1350px) {
    #portfolio {
        padding-left: 0.75%;
        padding-right: 0.75%;
    }

    .projects-container {
        width: 1300px;
    }

    .contact-container a {
        margin: 20px 38.5% 0 38.5%;
    }
}

@media only screen and (max-width: 1325px) {
    .about-text-boxes {
        padding: 30px 0;
    }
    
    .content-container {
        width: 700px;
        padding: 50px 100px 0 100px;
    }

    /*P**************************Portfolio Section**********************************/
    .project-row-1, .project-row-2 {
        display: block;
    }  

    .grouping-1, .grouping-2, .grouping-3, .grouping-4, .grouping-5, .grouping-6 {
        margin-bottom: 30px;
    }

    .project-row-1 {
        margin-bottom: 0;
    }

    .block {
        background-color: rgb(0, 255, 234);
        height: 400px;
        width: 37.5em;
    }
    
    .hover {
        height: 325px;
        width: 37.5em;
    }

    .projects-container {
        padding-left: 10%;
        padding-right: 10%;
        width: 750px;
    }

    #portfolio {
        height: 2850px;
        padding-left: 15%;
        padding-right: 15%;
    }

    .projects-container {
        height: 92%;
    }

    .hover {
        padding-top: 75px;
    }
    /****************************************************************************/

    #bottom-button {
        margin-left: 43%;
    }  

    .contact-container a {
        margin: 20px 38% 0 38%;
    }

}

@media only screen and (max-width: 1200px) {

    .projects-container {
        padding-left: 8%;
        padding-right: 8%;
        width: 725px;
    }

    #about {
        height: 1450px;
        padding-left: 6%;
        padding-right: 6%;
    }

    #portfolio {
        padding-left: 13%;
        padding-right: 13%;
    }

    #bottom-button {
        margin-left: 42.5%;
    }  
    .contact-container a {
        margin: 20px 37.5% 0 37.5%;
    }
}

@media only screen and (max-width: 1100px) {
    #about {
        padding-left: 2%;
        padding-right: 2%;
    }

    .projects-container {
        padding-left: 6%;
        padding-right: 6%;
    }

    #bottom-button {
        margin-left: 42%;
    }  
    .contact-container a {
        margin: 20px 36.5% 0 36.5%;
    }

}

@media only screen and (max-width: 1000px) {
    nav {
        text-align: center;
    }

    .menu {
        padding-left: 0;
    }

    #about {
        padding-left: 0;
        padding-right: 0;
        height: 1550px;
    }

    #about h3 {
        font-size: 28px;
    }

    .about-text-boxes {
        padding: 30px 0;
    }

    .bio {
        width: 775px;
        height: 350px;
    }

    .bio p {
        font-size: 24px;
    }

    .padding {
        padding-left: 160px;
    }

    .skills {
        width: 775px;
        height: 350px;
    }

    .skills p {
        font-size: 24px;
    }

    .content-container {
        margin-left: 75px;
        padding-left: 20px;
    }

    #portfolio {
        padding-left: 6%;
        padding-right: 6%;
    }

    .projects-container {
        padding-left: 7%;
        padding-right: 7%;
        width: 750px;
    }

    #bottom-button {
        margin-left: 41.5%;
    }  
    .contact-container a {
        margin: 20px 35.5% 0 35.5%;
    }
}

@media only screen and (max-width: 900px) {
    #about {
        height: 1600px;
    }

    .content-container {
        width: 650px;
        height: 1450px;
        padding-left: 50px;
        margin-left: 50px;
    }

    .bio {
        width: 700px;
        height: 350px;
    }

    .skills {
        width: 700px;
        height: 350px;
    }

    .skills p {
        font-size: 20px;
    }

    .padding {
        padding-left: 125px;
    }

    .projects-container {
        padding-left: 3%;
        padding-right: 3%;
        width: 740px;
    }

    .skills-list {
        padding: 0 75px;
    }

    #bottom-button {
        margin-left: 40%;
    }  

    .contact-container a {
        margin: 20px 34.5% 0 34.5%;
    }
}

@media only screen and (max-width: 850px) {
    .content-container {
        width: 600px;
    }

    .padding {
        padding-left: 100px;
    }

    .bio {
        width: 650px;
        height: 375px;
    }

    .skills {
        width: 650px;
    }

    #portfolio {
        padding-left: 4%;
        padding-right: 4%;        
    }

    .projects-container {
        padding-left: 3%;
        padding-right: 3%;
    }

    #bottom-button {
        margin-left: 38%;
    }  
    .contact-container a {
        margin: 20px 34% 0 34%;
    }
}

@media only screen and (max-width: 800px) {

    .content-container {
        width: 550px;
    }

    .projects-container {
        padding-left: 0;
        padding-right: 0;
        width: 735px;
    }

    .padding {
        padding-left: 75px;
    }

    .bio {
        width: 600px;
        height: 400px;
    }

    .skills {
        width: 600px;
    }

    #bottom-button {
        margin-left: 37.5%;
    }  

    .contact-container a {
        margin: 20px 33.5% 0 33.5%;
    }

}

@media only screen and (max-width: 768px) {
    #about {
        height: 1550px;
    }
    .content-container {
        width: 525px;
    }

    .padding {
        padding-left: 65px;
    }

    #portfolio {
        padding-left: 3.5%;
        padding-right: 3.5%;
    }

    .projects-container {
        padding-left: 4%;
        padding-right: 4%;
        width: 660px;
    }

    .project-row-1, .project-row-2 {
        padding: 0;
        margin: 20px 0;
    }
    
    .bio {
        width: 575px;
        height: 400px;
    }

    .skills {
        width: 575px;
        height: 300px;
    }

    .skills p {
        font-size: 18px;
    }

    #bottom-button {
        margin-left: 37%;
    }  

    .contact-container a {
        margin: 20px 33% 0 33%;
    }
    
}

@media only screen and (max-width: 700px) {
    .projects-container {
        padding-left: 8%;
        padding-right: 8%;
        width: 530px;
    }

    .content-container {
        height: 1350px;
    }

    .project-row-1, .project-row-2 {
        padding: 0;
        margin: 20px 0;
    }

    .block-1, .block-2, .block-3, .block-4, .block-5, .block-6 {
        height: 350px;
        width: 28.875em;
    }
    
    .hover {
        height: 325px;
        width: 28.875em;
    }

    #portfolio {
        height: 2550px;
        padding-left: 5%;
        padding-right: 5%;
    }

    #about {
        height: 1500px;
    }

    #about h3 {
        font-size: 20px;
    }

    .bio {
        width: 500px;
        height: 350px;
    }

    .bio p {
        font-size: 16px;
    }

    .padding {
        padding-left: 30px;
    }

    .skills {
        width: 500px;
        height: 275px;
    }

    .skills p {
        font-size: 15px;
    }

    .content-container {
        width: 450px;
    }

    #bottom-button {
        margin-left: 36.5%;
    }  
    .contact-container a {
        margin: 20px 32% 0 32%;
    }

    .contact-container {
        margin: 0; 
        width: 100%;   
    }

}

@media only screen and (max-width: 650px) {
    #about {
        height: 1300px;
    }

    #about h3 {
        font-size: 20px;
    }

    .content-container {
        width: 400px;
        height: 1200px;
    }

    .personal-image {
        height: 500px;
        width: 375px;
    }

    .bio {
        width: 450px;
        height: 350px;
    }

    .bio p {
        font-size: 16px;
    }

    .padding {
        padding-left: 40px;
    }

    .skills {
        width: 450px;
        height: 225px;
    }

    .skills p {
        font-size: 13px;
    }

    #portfolio {
        padding-left: 4%;
        padding-right: 4%;     
    }

    .projects-container {
        padding-left: 6%;
        padding-right: 6%;
        width: 520px;
    }

    #bottom-button {
        margin-left: 36%;
    }  

    .contact-container a {
        margin: 20px 31.5% 0 31.5%;
    }
}

@media only screen and (max-width: 600px) {
    #about {
        height: 1200px;
    }

    #about h3 {
        font-size: 16px;
    }

    .content-container {
        width: 350px;
        height: 1100px;
    }

    .personal-image {
        height: 400px;
        width: 300px;
    }

    .bio {
        width: 400px;
        height: 350px;
    }

    .bio p {
        font-size: 14px;
    }

    .padding {
        padding-left: 50px;
    }

    .skills {
        width: 400px;
        height: 225px;
    }

    .skills p {
        font-size: 12px;
    }

    /*P**************************Portfolio Section**********************************/

    .project-row-1, .project-row-2 {
        display: block;
    }  

    .grouping-1, .grouping-2, .grouping-3, .grouping-4, .grouping-5, .grouping-6 {
        margin-bottom: 30px;
    }

    #portfolio {
        height: 2050px;
        padding-left: 12%;
        padding-right: 12%;
    }

    .project-row-1 {
        margin-bottom: 0;
    }

    .projects-container {
        height: 92%;
        width: 410px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .block {
        height: 275px;
        width: 21.875em;
    }
    
    .hover {
        height: 250px;
        width: 21.875em;
    }

    .project-row-1, .project-row-2 {
        padding: 0 auto;
        margin: 20px 0;
        
    }

    .hover {
        padding-top: 25px;
    }

    /*P**************************Portfolio Section**********************************/

    .content-container {
        display: block;
    }

    #bottom-button {
        margin-left: 35.5%;
    }  

    .contact-container a {
        margin: 20px 31% 0 31%;
    }

}

@media only screen and (max-width: 560px) {
    
    #about {
        height: 1200px;
    }
    .content-container {
        margin-left: 30px;
        padding-left: 25px;
    }

    .project-row-1, .project-row-2 {
        padding: 0 auto;
        margin: 20px 0;
        
    }

    #portfolio {
        padding-left: 10%;
        padding-right: 10%;
    }

    .projects-container {
        padding-left: 3%;
        padding-right: 3%;
    }

    #bottom-button {
        margin-left: 34%;
    }  

    .contact-container a {
        margin: 20px 30.5% 0 30.5%;
    }
}

@media only screen and (max-width: 520px) {

    #about h3 {
        font-size: 16px;
    }

    .content-container {
        width: 325px;
        margin-left: 25px;
    }

    .personal-image {
        height: 400px;
        width: 300px;
    }

    .bio {
        width: 400px;
        height: 350px;
    }

    .bio p {
        font-size: 14px;
    }

    .padding {
        padding-left: 50px;
    }

    .skills {
        width: 400px;
        height: 225px;
    }

    .skills p {
        font-size: 12px;
    }

    .project-row-1, .project-row-2 {
        padding: 0 auto;
        margin: 20px 0;
        
    }

    #portfolio {
        padding-left: 8%;
        padding-right: 8%;
    }

    #bottom-button {
        margin-left: 32%;
    }  

    .contact-container a {
        margin: 20px 30% 0 30%;
    }
}

@media only screen and (max-width: 480px) {
    .project-row-1, .project-row-2 {
        padding: 0 auto;
        margin: 20px 40px;
        
    }

    #bottom-button {
        margin-left: 27%;
    }  

    .contact-container a {
        margin: 20px 29.5% 0 29.5%;
    }
    #about h3 {
        font-size: 24px
    }

    .content-container {
        margin-left: 15px;
    }


    .bio p {
        font-size: 18px;
    }

    .skills p {
        font-size: 18px;
    }
}

